node_modules
npm-debug.log

.env

formatted_output
intermediate_output.json
raw_output.json

databases

scripts

test_data

*.log

notes

.svelte

database-files

test-data

.gitignore

.git

model_test.js